.activity {
    grid-area: activity;
    background-color: var(--background-chart);
    position: relative;
    margin-right: 16px;
}

.activity .recharts-responsive-container {
    padding: 32px;
}

.kilogramBar path {
    fill: var(--color-black-chart);
}

.caloriesBar path {
    fill: var(--color-primary-chart);
}

.activity .recharts-tooltip-item-value {
    color: var(--color-white);
}

.recharts-text tspan {
    font-size: 14px;
    font-weight: 500;
}

.activity-chart-text tspan {
    color: var(--color-black-chart-light);
}
