.activity {
    grid-area: activity;
    background-color: var(--background-chart);
    position: relative;
    margin-right: 16px;
}

.activity h2 {
    position: absolute;
    top: 16px;
    left: 32px;
    margin: 0;
}

.kilogramBar path {
    fill: var(--color-black-chart);
}

.caloriesBar path {
    fill: var(--color-primray-chart);
}
