footer {
  grid-area: footer;
  background-color: var(--color-black-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: var(--color-white);
  margin: 0 auto;
  width: max-content;
  padding: 0;
  font-size: var(--font-12);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg)
}