main {
    max-width: calc(100vw - 117px);
    padding: 40px 100px;
    grid-area: main;
    background-color: var(--color-white);
    display: grid;
    grid-template-areas:
        'hello hello hello hello'
        'activity activity activity aside '
        'averageSession perf score aside ';
    grid-template-rows: minmax(100px, 120px) 320px 263px;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

@media screen and (max-width: 1400px) {
    main {
        grid-template-areas:
            'hello hello hello '
            'activity activity activity  '
            'averageSession perf score  '
            'aside aside aside';
        grid-template-rows: minmax(100px, 100px) 320px 263px 100px;
        grid-template-columns: repeat(3, 1fr);
        padding: 32px;
    }
}

@media screen and (min-width: 1600px) {
    main {
        column-gap: calc(16px + 4vw);
    }
}
