.perf {
    grid-area: perf;
}

.perf .recharts-responsive-container {
    background: var(--color-black-chart);
    border-radius: 5px;
}

.perf .recharts-radar-polygon path {
    fill: var(--color-primary);
    fill-opacity: 0.7;
}

.perf .recharts-text tspan {
    fill: var(--color-white);
    font-size: var(--font-12);
}

.perf .recharts-polar-grid-angle line {
    stroke: transparent;
}
