.hello {
    padding: 0;
    grid-area: hello;
}

.hello h1,
.hello h1 span {
    font-size: var(--font-48);
    margin: 0;
}

.hello h1 span {
    color: var(--color-primary);
}

@media screen and (max-height: 900px) {
    .hello h1,
    .hello h1 span {
        font-size: var(--font-26);
    }
}
@media screen and (max-width: 1300px) {
    .hello h1,
    .hello h1 span {
        font-size: var(--font-26);
    }
}
